*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;

}

#calculator {
  width: 325px;
  height: auto;

  margin: 100px auto;
  padding: 20px;

  background: linear-gradient(rgb(54, 53, 51),#3c3d3b);
  border-radius: 3px;
  box-shadow: 2px 8px 6px #808080;
}
.numeros, .top {
  overflow: hidden;
}

.numeros span, .top span {
  float: left;
  width: 66px;
  height: 40px;
  background: white;
  text-align: center;
  border-radius: 3px;
  margin: 0 6px 11px 0;
  line-height: 40px;
  box-shadow: 1px 4px 0px 0px #000;
  cursor: pointer;
}

.top span.clear {
  float: left;
}

.top .display {
  width: 212px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  float: right;
  border-radius: 3px;

}
span.operador {
  margin-right: 0;
}

#clear {
  background-color: red;
  color: #fff;
}

#clear:hover {
  background-color: rgb(111, 15, 2);
}

#eval {
  background: rgb(204, 255, 0);
}

#eval:hover {
  background: rgb(121, 131, 5);
  color: #fff;
}

.numeros span:hover {
  background: #444444;
  color: #fff;
}

#display {
  color: white;
  text-align: right;
  font-size: 35px;
}
